// Contacto
color: #DD820D;
 font-size: 50px;
 font-family: Open Sans;
 font-weight: 600;
 word-wrap: break-word
---
// Sobre Mi
color: white;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 word-wrap: break-word
---
// Educacion
color: white;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 word-wrap: break-word
---
// Contactos
color: white;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 word-wrap: break-word
---
// Nombre
color: #5A5A5A;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 700;
 word-wrap: break-word
---
// Correo
color: #5A5A5A;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 700;
 word-wrap: break-word
---
// Mensaje
color: #5A5A5A;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 700;
 word-wrap: break-word
---
// Enviar
color: white;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 word-wrap: break-word